# OS trash
.DS_Store

# backend trash
backend/node_modules/

# UI reference
reference-ui/

# lib forge std 
lib/

# to do works
TODO.md

# UI reference works
UI_SPEC.md

#frontend trash
frontend/node_modules/
frontend/AGENTS.md
frontend/CLAUDE.md

# Compiler files
cache/
out/

# Commonly ignored directories
.logs/
.ignore/

# Ignores development broadcast logs
!/broadcast
/broadcast/*/31337/
/broadcast/**/dry-run/

# Docs
docs/

# Dotenv file
.env
.env.*
!.env.example

# Uploads
backend/uploads/*
